body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: cyan;
    width: 832px;
    height: 832px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background-color: blue;
}